{% extends 'base.html.twig' %}

	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('build/appstyle.css') }}">
    {% endblock %}

{% block body %}

	<h1>Lista de Paises</h1>
	<ul>
	    {% for pais in listapais %}
	        <li>{{ pais.nombre }} - {{ pais.continente }}</li>
	    {% endfor %}
	</ul>

	
	
{% endblock %}

{% block javascripts %}
  	<script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
