{% extends 'base.html.twig' %}

	{% block stylesheets %}
		<link rel="stylesheet" href="{{ asset('build/appstyle.css') }}">
    {% endblock %}

{% block body %}

	<h1>Listado de Provincias</h1>
	<ul>
	    {% for provincia in listaprovincia %}
	        <li>{{ provincia.nombre }} - {{ provincia.region.nombre }}</li>
	    {% endfor %}
	</ul>

	<button>Hola</button>
	
{% endblock %}

{% block javascripts %}
  	<script src="{{ asset('build/app.js') }}"></script>
{% endblock %}

