<footer>
	<div class "foot">
		<a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
        <a href="https://www.facebook.com"><i class="fab fa-facebook-square"></i></a>
        <a href="https://twitter.com/"><i class="fab fa-twitter-square"></i></a>
        <a href="https://plus.google.com/"><i class="fab fa-google-plus-g"></i></a>
			<img src="https://upload.wikimedia.org/wikipedia/commons/6/61/Shokunin_world_map_more_detail.svg" width="100">
	</div>